*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary-color: #76549A;
    --secondary-color : #94B49F;
    --outline-color: #DF7861;
    --text-color: #FCF8E8;
}